- content_for :nav_content do
  %h1 Add a New Date

- content_for :main_content do
  .col-md-8
    = form_for @period do |f|
      %form.form-inline{:role => "form"}
        .form-group
          = f.label :"Enter New Period"
          .row
            .col-md-6
              = f.date_select :start, class: 'form-control', placeholder: "Enter New Period", start_year: 1961
              %h4 to
              = f.date_select :end, class: 'form-control', placeholder: "Enter New Period", start_year: 1961
            .col-md-3
              = f.submit "Save Period", class: 'btn btn-success'
            .col-md-3
              = link_to "Cancel", :back, class: 'btn btn-default'

  .col-md-4
    %table.table.table-hover
      %thead
        %tr
          %th Current Dates
      %tbody
        - Period.all.each do |period|
          %tr
            %td
              = period.start
