- content_for :nav_content do
  = link_to @period.start.to_formatted_s(:year), @period, class: 'tag label label-info'
  - if params[:filter]
    = link_to @person.name, @person, class: 'tag label label-info'
  %h1
    = @period.start.to_formatted_s(:year)

  .dropdown
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
      People
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
      - @unique_people.each do |person|
        %li{:role => "presentation"}
          = link_to person.name, {:filter => person.name}

- content_for :main_content do
  .row
    .col-md-12
      - @posts.each do |post|
        = render partial: 'posts/post', locals: { post: post }
        .new-comment
          = render partial: 'comments/form', locals: {post: post, comment: @comment}
  -# .text-center
  -#   = will_paginate @posts
