- content_for :main_content do
  .row
    .col-md-8
      %h3 Edit personal information
      = form_for current_user do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control', placeholder: "Enter name", autofocus: true
        - if current_user.avatar?
          .form-group
            %p Current avatar
            = image_tag( current_user.avatar.profile.url )
        .form-group
          = f.label :avatar
          = f.file_field :avatar
          = f.hidden_field :avatar_cache
        = content_tag :div, class: 'form_group' do
          = f.label 'About Me'
          = f.text_area :aboutme, rows: 6, class: 'form-control', placeholder: "Enter a little about yourself, what are doing now, where do you live now?"
        %h4
          .row
            .col-md-6
              = f.label 'Choose villages that you lived in Guinea:', class:  'control-label'
              = select_tag('user[location_ids][]', options_from_collection_for_select(Location.all, 'id', 'name' ), {:class => 'location', :id => 'prefetchlocation',:multiple => true})
            .col-md-6
              = f.label 'Choose Years that you lived in Guinea', class: 'control-label'
              = select_tag('User[period_ids][]', options_from_collection_for_select(Period.all, :start, :show_year), {:id => 'prefetchperiod', :multiple => true})

        .form-group
          = f.submit "Update", name: 'profile_button', class: 'btn btn-success'

- content_for :nav_content do
  %h1 Edit your Profile
  %h3 This is viewed by all members
  - if current_user.avatar?
    .large-avatar-photo
      = image_tag(current_user.avatar.profile.url)
  -else
    %span.large-avatar.glyphicon.glyphicon-user
  %br/
  %br/
  = link_to 'Change Account Information', edit_user_registration_path, class: 'btn btn-info'
  %br/
  %h4
    = current_user.aboutme
