- content_for :nav_content do

  %h1
    Show Attachment for Post


- content_for :main_content do
  %p#notice= notice
  %p
    %b Post:
    = @post_attachment.post_id
  %p
    %b Image:
    = @post_attachment.image

  = link_to 'Edit', edit_post_attachment_path(@post_attachment)
  \|
  = link_to 'Back', post_attachments_path
