= form_for [post] do |f|
  - if post.errors.any?
    .alert.alert-danger
      %h4
        There are #{pluralize(post.errors.count, "error")}.
      %ul
        - post.errors.full_messages.each do |msg|
          %li= msg
  = content_tag :div, class: 'form_group' do
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Enter post title"
  = content_tag :div, class: 'form_group' do
    = f.label :body
    = f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body"
  .form-group
    = f.label 'Link to Webpage'
    = f.url_field 'url_link'

  - unless post.image.url.nil?
    .form-group
      %p Current image
      = image_tag( post.image.url )
  .form-group
    = f.label :image
    = f.file_field :image
    = f.hidden_field :image_cache
  .row
    .col-md-4
      .form-group
        = link_to 'Create a new Location', new_location_path, :class => 'btn btn-primary'
      .form-group
        = f.label 'Choose Locations', class: 'control-label'
        = select_tag('post[location_ids][]', options_from_collection_for_select(Location.all, 'id', 'name'), {:multiple => true, :size => 5})
    .col-md-4
      .form-group
        = link_to 'Create a new Person', new_person_path, :class => 'btn btn-primary'
      .form-group
        = f.label 'Choose People', class: 'control-label'
        = select_tag('post[person_ids][]', options_from_collection_for_select(Person.all, 'id', 'name'), {:multiple => true, :size => 5})
    .col-md-4
      .form-group
        = link_to 'Create a new Date', new_period_path, :class => 'btn btn-primary'
      .form-group
        = f.label 'Choose Date', class: 'control-label'
        = select_tag('post[period_ids][]', options_from_collection_for_select(Period.all, 'id', 'start'), {:multiple => true, :size => 5})

      .form-group
        = link_to "Cancel", :back, class: 'btn btn-default'
        = f.submit "Save", class: 'btn btn-success'

  -# .dropdown
  -#   %button.btn.btn-default#dropdownLocation.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
  -#     %span#location_choice
  -#       Locations
  -#     %span.caret
  -#   %ul.dropdown-menu{"aria-labelledby" => "dropdownLocation", :role => "menu"}
  -#     - @locations.each do |location|
  -#       %li{:role => "presentation"}
  -#         %a{:id => location.id, :href => "#", :role => "menuitem", :tabindex => "-1"}
  -#           =location.name
