.media
  .media-body
    %h3.media-heading
      = link_to (post.title), [post]
    %p
      = post.body
      %small
      = image_tag(post.user.avatar.small.url) if post.user.avatar?
      submitted #{time_ago_in_words(post.created_at)} ago by
      = link_to post.user.name, post.user.person
      %br/
      %br/
      .row
        .col-md-6
          = image_tag(post.image.large) if post.image?
        .col-md-6
          %img{:src => "https://maps.googleapis.com/maps/api/staticmap?&zoom=7&size=400x400&markers=color:blue%7Clabel:A%7C#{post.locations.first.latitude},#{post.locations.first.longitude}"}
      = link_to post.url_link, post.url_link if post.url_link?
    %h4
      Tags
    .row
      .col-md-4
        Locations:
        - post.locations.each do |location|
          =render partial: 'locations/location', locals: {location: location}
      .col-md-4
        People:
        - post.people.each do |person|
          =render partial: 'people/person', locals: {person: person}
      .col-md-4
        Date:
        - post.periods.each do |period|
          =render partial: 'periods/period', locals: {period: period}
    %h4
      = render partial: 'likes/like', locals: {post: post}
      Comments:
    .js-comments
      - post.comments.each do |comment|
        =render partial: 'comments/comment', locals: {comment: comment}
