.media
  .media-body
    %h3.media-heading
      = link_to (post.title), [post]
    %p
      = post.body
    %small
      = image_tag(post.user.avatar.small.url) if post.user.avatar?
      submitted #{time_ago_in_words(post.created_at)} ago by
      \#{post.user.name}
      %br/
      %br/

      = image_tag(post.image.large) if post.image?

      = link_to post.url_link, post.url_link if post.url_link?
    %h4
      Tags
    Locations:
    - post.locations.each do |location|
      =render partial: 'locations/location', locals: {location: location}
    People:
    - post.people.each do |person|
      =render partial: 'people/person', locals: {person: person}
    %h4
      Comments:
    .js-comments
      - post.comments.each do |comment|
        =render partial: 'comments/comment', locals: {comment: comment}
