= form_for [post], remote: true do |f|
  - if post.errors.any?
    .alert.alert-danger
      %h4
        There are #{pluralize(post.errors.count, "error")}.
      %ul
        - post.errors.full_messages.each do |msg|
          %li= msg
  %form.form-inline{:role => "form"}
    .form-group
      = f.label :"Enter New Location"
      .row
        .col-xs-6
          = f.text_field :name, class: 'form-control', placeholder: "Enter Location"
        .col-xs-2
          = f.submit "Save Location", class: 'btn btn-default'
        .col-xs-4


  -# .dropdown
  -#   %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
  -#     Locations
  -#     %span.caret
  -#   %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
  -#     - @locations.each do |location|
  -#       %li{:role => "presentation"}
  -#         %a{:href => "#", :role => "menuitem", :tabindex => "-1"}
  -#           =location.name
