= form_for [location], remote: true do |f|
  - if post.errors.any?
    .alert.alert-danger
      %h4
        There are #{pluralize(post.errors.count, "error")}.
      %ul
        - post.errors.full_messages.each do |msg|
          %li= msg
  %form.form-inline{:role => "form"}
    .form-group
      = f.label :"Enter New Location"
      .row
        .col-xs-6
          = f.text_field :name, class: 'form-control', placeholder: "Enter Location"
        .col-xs-2
          = f.submit "Save Location", class: 'btn btn-default'
          = submit_tag "Save Location", location.id, @post.locations.include?(location), class: 'btn btn-default'
        .col-xs-4


.dropdown
  %button.btn.btn-default#dropdownLocation.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
    %span#location_choice
      Locations
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownLocation", :role => "menu"}
    - @locations.each do |location|
      %li{:role => "presentation"}
        %a{:id => location.id, :href => "#", :role => "menuitem", :tabindex => "-1"}
          =location.name
