- content_for :nav_content do
  %h1 Add a New Location

- content_for :main_content do
  .col-md-8
    = form_for @location do |f|
      %form.form-inline{:role => "form"}
        .form-group
          = f.label :"Enter New Location"
          .row
            .col-md-6
              = f.text_field :name, class: 'form-control', placeholder: "Enter New Location"
            .col-md-3
              = f.submit "Save Location", class: 'btn btn-success'
            .col-md-3
              = link_to "Cancel", :back, class: 'btn btn-default'

  .col-md-4
    %table.table.table-hover
      %thead
        %tr
          %th Current Locations
      %tbody
        - Location.all.each do |location|
          %tr
            %td
              = location.name
