- content_for :nav_content do
  = link_to @location.name, @location, class: 'tag label label-info'
  - if params[:filter]
    = link_to @person.name, @person, class: 'tag label label-info'
  %h1
    = @location.name
  - if params[:filter]
    %h2 
      "-->"
      = @person.name


  .dropdown
    %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :type => "button"}
      People
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", :role => "menu"}
      - @unique_people.each do |person|
        %li{:role => "presentation"}
          = link_to person.name, {:filter => person.name}
      -# - @posts.each do |post|
      -#   %li{:role => "presentation"}
      -#     = link_to post.user.person.name, {:filter => post.user.person.name}

  = form_tag(location_path(@location), method: :get, class: "navbar-form navbar-left", id: "prefetch", :role => "search") do
    = text_field_tag :filter, params[:filter], id: "search_side_bar", class: "typeahead", placeholder: "Search ."
    %button.btn.btn-default#search_button{:type => "submit"}
      %i.glyphicon.glyphicon-search


- content_for :main_content do
  .row
    .col-md-12
      - @posts.each do |post|
        = render partial: 'posts/post', locals: { post: post }
        .new-comment
          = render partial: 'comments/form', locals: {post: post, comment: @comment}
  -# = will_paginate @posts
